{
  CIDER: {
    cider_version: "0.42.4",
    dependencies: {
      nuget: "nuget-dependencies",
      tatin: "tatin-dependencies",
    },
    dependencies_dev: {
      tatin: "tatin-dependencies_dev",
    },
    distributionFolder: "dist",
    init: "",
    make: "",
    parent: "#",
    projectSpace: "OpenAI",
    project_url: "https://github.com/Dyalog/OpenAI",
    source: "source",
    tests: "",
    version: "",
  },
  LINK: {
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
